@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(36, 36, 36);
    color: white;
}

/* Navigation start */
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: green;
    padding: 20px 50px;
    font-size: 18px;
    color: white;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
ul li{
    margin-left: 25px;
}
ul li a{
    color: white;
    text-decoration: none;
}
/* Navigation end */

/* Home start */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}
.right, .left{
    width: 50vw;
}
.left{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left h1{
    font-size: 32px;
    margin-bottom: 10px;
}
.right img{
    height: 500px;
}
.button{
    height: 40px;
    width: 120px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
    transition: 0.3s;
}
.button:hover{
    background-color: white;
    color: rgb(36, 36, 36);
}
/* Home end */


/* gallery start */
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 8px;
    text-align: center;
    margin: 15px;
}

.gallery .card img{
    height: 275px;
}

/* gallery end */


/* contact start */

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
form{
    height: 500px;
    width: 500px;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
}
input{
    width: 200px;
    height: 30px;
    background-color: transparent;
    outline: none;
    color: white;
    text-align: center;
    border: none;
    border-bottom: 1px solid grey;
}
.heading{
    text-align: center;
}
button{
    height: 30px;
    width: 60px;
    margin: 0px auto;
    margin-top: 30px;
    background-color: transparent;
    border: 1px solid grey;
    outline: none;
    color: white;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}
button:hover{
    background-color: grey;
}
.form-input{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.labelContainer {
    width: 160px;
    margin-right: 20px;
}

/* contact end */